body {
  font-family: sans-serif;
  background-color: grey;
  color: dimgrey;
}
h1 {
  color: darkgrey;
}
h2 {
  color: DarkCyan;
  font: "Quicksand";
}
h3 {
  color: rgb(5, 127, 161);
}
h6 {
  color: rgb(42,161,152);
}
li {
  color: rgb(5, 127, 161);
}
p {
  font-family: monospace;
}
a {
  color: rgb(42,161,152);
}
#summer {
  color: rgb(171, 122, 9);
}
.content {
  background: AliceBlue ;
  padding: 4px;
  border: 10px solid DarkCyan;
  font-family: "Comic Sans MS";
  width: 262px;
  margin: 50px;
}
.blog_post {
  background: AliceBlue ;
  padding: 4px;
  border: 10px solid dimgrey;
  font-family: "Comic Sans MS";
  width: 600px;
  margin: 50px;
}
.photo {
  border: 10px solid dimgrey;
  margin: 18px;
}
.bananas {
  color: rgb(0, 100, 0);
}
